<app-navbar></app-navbar>

<main style="background: url(assets/img/banner/home-banner.png);">
    <div class="container">

        <div class="row mt-5">
    
            <div class="col-md-4">
    
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">

                        <div class="custom-file">
                            <form  (ngSubmit)="onSubmit()" > 
                                <div class="form-group" >
                                    <input  
                                    type="file"
                                    id="nuestroinput"
                                    (change)="fileChange($event)"> 
                                    <label for="nuestroinput"><i class="fas fa-folder"></i>    Constancia Trabajo</label>
                                </div>
                                <div class="form-group" >
                                        <input  
                                        type="file" 
                                        id="nuestroinput" 
                                        (change)="fileChange1($event)"> 
                                        <label for="nuestroinput"><i class="fas fa-folder"></i>    Resivo Bancario</label>
                                    </div>
                                <div class="form-group">
                                    <input class="form-control" 
                                        type="text" 
                                        placeholder="Tarjeta Debito"
                                        name="tarjeta_debito" 
                                        [(ngModel)]="data.tarjeta_debito" 
                                        required>
                                </div>
                                <div class="form-group">
                                        <input class="form-control" 
                                            type="text" 
                                            placeholder="Fecha Vencimiento Tarjeta"
                                            name="caducidadTarjeta" 
                                            [(ngModel)]="data.caducidad_tarjeta"
                                            required>
                                    </div>
                                    <div class="form-group">
                                            <input class="form-control" 
                                                type="text" 
                                                placeholder="Monto a Prestar"
                                                name="prestamo" 
                                                [(ngModel)]="data.prestamo" 
                                                required>
                                        </div>
                                        <button type="submit" class="btn btn-primary"> Solicitar Prestamo</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
    
            </div>
        </div>
    </div>

</main>